.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px
}

button {
  width: 75px;
  height: 37px;
  margin-top: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.point {
  width: 15px;
  height: 15px;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}